/* Assets:
Font: Merriweather, Lato
Farbe: #202020, #24bff2, #fff, #F5FBFE.
Farbe social media: #3b5998, #fcaf45, #55acee, #c4302b */

body{
    background-color: #fff;
    font-family: ;
}
section{
    border: 2px solid;
    border-color: blue;
}