/* Assets:
Font: Merriweather, Lato
Farbe: #202020, #24bff2, #fff, #F5FBFE.
Farbe social media: #3b5998, #fcaf45, #55acee, #c4302b */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body{
    background-color: #fff;
    font-family: 'Merriweather', serif;
   margin-left:5%;
   margin-right:5%;
   
}

#header{
    position: relative;
    text-decoration: none;
    text-align: right;

}
.navlist li{
    list-style: none;
    display: inline;
    padding: 20px;
   
    
}
.navlist li a{
    text-decoration: none;
    
    
}
.navlist li a:visited{
    text-decoration: underline;
    color: black;    
}
.navlist li a:hover{
    text-decoration: underline;
}

.absurd{
   
    width: 500px;
    font-size: 40px;
    padding-top:20%;
  
  
}
.para{
    
    width: 300px;
    font-size: 15px;
   
    

}

.but1{
    
    background-color: black;
    color: white;
    border-radius: 5%;
    font-size: 20px;
    padding: 15px;

}
.but2{
    margin-left:0%;
    
    border-radius: 5%;
    font-size: 20px;
    padding: 15px;
    background-color: #fff;
}

#first{
    height: 80vh; background:url(/assets/img/illustration1.gif) right/contain no-repeat;
   padding-bottom: 10%;
    
}



#sec2{
    width: 400px;
    padding-left: 50%;
    font-size: 20px;
    height: 70vh;background: url(/assets/img/illustration2.png) left/contain no-repeat;
}
#sec3{
    width: 400px;
    padding-right: 60%;
    font-size: 20px;
    height: 80vh; background: url(/assets/img/illustration3.png) right/contain no-repeat;
}

#sec4{
    text-align: center;
   
}



#sec5{
    text-align: center;
   
    
}
.sec5h2{
    font-size: 40px;
    padding-top: 10%;
    
}
.sec5p{
    padding-bottom:10%
}

#sec6{
    text-align: center;
    
}
#block{
    width:200px;
    border: 2px solid black;
    padding:24px;
   margin: 0 auto;
   background-color: rgb(218, 234, 240);
}

#but3{
    border-radius: 10px;
    background-color: #55acee;
    padding:20px;
    color: white;
    
}
.absurd2{
    font-size: 40px;
}

.pics1 {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 33.33%;
    padding: 10px;
  }

  .column2{
    flex: 50%;
    padding: 10px;
    
  }
  
  .illustration{
      font-size: 40px;
      margin: 6% auto;
      width: 500px;
  }
  .illusp{
      font-size: 30;
      padding-bottom: 10%;
      margin: 0% auto;
      width: 400px;
  }
  .money{
      font-size: 35px;
  }
  .peryear{
      color: grey;
  }